* {
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calc-body {  
    min-width: 20%;
    max-width: 45%;
    margin: auto;
    margin-top: 60px;
    border: 10px solid black;
}

.clear {
    float: left;
    height: 24px;
    width: 30px;
}

.clear:active {
    background-color: grey;
}

.cal-display {    
    text-align: right;
    border: 2px solid grey;
    min-height: 25px;
}

.input-buttons {
    display: flex;
    flex-wrap: wrap;
}

li {
    border: 1px white solid;
    text-align: center;
    min-width: 25%;
    background-color: teal;
}

li:hover {
    color:white;
}

li:active {
    background-color: grey;
    border: 1px solid black;
}

.operation, .equals {
    background-color: wheat;
}